<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>PES FYP Road Show</title>
</head>

<body ng-app="TTUMagicApp">
    <!-- AngularJS views  -->
    <div ng-view></div>

    <!-- CSS -->
    <link rel="stylesheet" href="/lib/angular-material/angular-material.css"/>
    <link rel="stylesheet" href="css/custom-style.css"/>
    <link rel="stylesheet" href="css/angular.treeview.css"/>

    <!-- Load local libraries -->
    <script type="text/javascript" src="/lib/angular/angular.js"></script>
    <script type="text/javascript" src="/lib/angular-route/angular-route.js"></script>
    <script type="text/javascript" src="/lib/angular-resource/angular-resource.js"></script>
    <script type="text/javascript" src="/lib/angular-animate/angular-animate.js"></script>
    <script type="text/javascript" src="/lib/angular-aria/angular-aria.js"></script>
    <script type="text/javascript" src="/lib/angular-material/angular-material.js"></script>
    <script type="text/javascript" src="/lib/angular-messages/angular-messages.js"></script>
    <script type="text/javascript" src="/lib/angular-material-icons/angular-material-icons.js"></script>
    <script type="text/javascript" src="/lib/jquery/dist/jquery.min.js"></script>
    <!-- <script type="text/javascript" src="/lib/d3/d3.min.js"></script> -->
    <script src="https://d3js.org/d3.v3.min.js" charset="utf-8"></script>
    <script type="text/javascript" src="js/d3-legend.js"></script>
    <script type="text/javascript" src="js/angular.treeview.js"></script>

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="css/jk-carousel.min.css" />
    <link rel="stylesheet" href="css/style.css" />
    <script src="js/jk-carousel.min.js"></script>
    <script src="js/script.js"></script>

    <!-- Angular Material Fileinput -->
    <link rel="stylesheet" href="/lib/lf-ng-md-file-input/dist/lf-ng-md-file-input.css">
    <script src="/lib/lf-ng-md-file-input/dist/lf-ng-md-file-input.js"></script>

    <!-- Bootstrap AngularJS application -->
    <script type="text/javascript" src="/monitor/monitor.client.module.js"></script>
    <script type="text/javascript" src="/monitor/config/monitor.client.routes.js"></script>
    <script type="text/javascript" src="/monitor/controllers/monitor.client.controller.js"></script>
    <script type="text/javascript" src="/monitor/factory/monitor.client.factory.js"></script>
    <script type="text/javascript" src="/monitor/directives/monitor.client.directive.js"></script>
    <script type="text/javascript" src="/application.js"></script>
</body>

</html>